The implement of HTTP basic authorization in API is not standard (and should be cleared in the document)

Since e621ng is now supporting HTTP basic auth, I have tried to use it but found out that I can only get 401 Unauthorized. After some research in code and I found that the name of the HTTP header to pass auth information is set to _HTTP_AUTHORIZATION_ instead of _Authorization_.

In [RFC 2617 - HTTP Authentication: Basic and Digest Access Authentication](https://tools.ietf.org/html/rfc2617)
```
Section 1.2 Access Authentication Framework
...
   A user agent that wishes to authenticate itself with an origin
   server--usually, but not necessarily, after receiving a 401
   (Unauthorized)--MAY do so by including an Authorization header field
   with the request. A client that wishes to authenticate itself with a
   proxy--usually, but not necessarily, after receiving a 407 (Proxy
   Authentication Required)--MAY do so by including a Proxy-
   Authorization header field with the request. 
```
In [RFC 7617 - The 'Basic' HTTP Authentication Scheme](https://tools.ietf.org/html/rfc7617)
```
Section 2.  The 'Basic' Authentication Scheme
...
   If the user agent wishes to send the user-id "Aladdin" and password
   "open sesame", it would use the following header field:

      Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==
```
```
Section 2.1.  The 'charset' auth-param
...
   Encoding this octet sequence in Base64 ([RFC4648], Section 4) yields:

      dGVzdDoxMjPCow==

   Thus, the Authorization header field would be:

      Authorization: Basic dGVzdDoxMjPCow==
```

The header “HTTP_AUTHORIZATION” may be used in some PHP projects, but it's not standard, nor provide any convenience in a Ruby project. It takes me some time to figure it out by reading the code since it's not mentioned in any part of the API document, and that is exactly what a document should do. Please fix it or add a notice in the API document, thank you.

`HTTP_AUTHORIZATION` is an internal name that points at the `Authorization` header within Rails, and it correctly accepts, parses and uses the standard header. I have confirmed this with several clients. Are you sure you are using your username and API key to auth with?